body {
    background-color: gray;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
header, nav, section, article, aside, footer {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    box-sizing: border-box;
}
header h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #396357;
}
section, aside {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 0;
}
.main-content{
    display: flex;
      flex: 1;
    gap: 50px;
}
.header-container {
    display: flex;
    /disposicion orizontal/
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.foto-principal {
    width: 300px; 
    height: 300px;
    border-radius: 10%;
    object-fit: cover;
}

.info-personal {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
.info-personal p{
    margin: 0;
    line-height: 1.5;
}
.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
}

.scroll-container img {
    width: 200px;
    height: 150px;
    flex-shrink: 0;
    object-fit: cover;
}

.musica-fondo {
    padding: 10px;
    text-align: center;
    background: #f1f1f1;
    border-top: 1px solid #ccc;
}
.galeria-fotos {
    border: 2px solid black; 
    background-color: #39715b;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: blue;
}